absl-py==0.9.0
alabaster==0.7.12
AMP==1.1.4
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
asn1crypto==1.2.0
astor==0.8.1
astroid==2.3.3
astropy==3.2.3
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bitarray==1.1.0
bkcharts==0.2
bleach==3.1.0
bokeh==1.4.0
boto==2.49.0
boto3==1.12.39
botocore==1.15.39
Bottleneck==1.3.1
C-ROIPooling==0.1
cachetools==4.1.0
caldav==0.1.4
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda==4.8.3
conda-build==3.18.8
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
coverage==4.5.4
cryptography==2.8
cycler==0.10.0
Cython==0.29.14
cytoolz==0.10.1
dask==2.8.1
decorator==4.4.1
defusedxml==0.6.0
distributed==2.8.1
Django==2.2.7
docutils==0.15.2
easydict==1.9
entrypoints==0.3
et-xmlfile==1.0.1
faiss-gpu==1.6.0
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.1
fsspec==0.6.0
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-api-core==1.25.0
google-auth==1.24.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.5.0
google-cloud-translate==2.0.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
GPUtil==1.4.0
graphviz==0.13.2
greenlet==0.4.15
grpcio==1.35.0
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
idna==2.8
imageio==2.6.1
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.0
json5==0.8.5
jsonlines==1.2.0
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.30.0
locket==0.2.0
lxml==4.4.1
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.2
numba==0.46.0
numexpr==2.7.0
numpy==1.17.3
numpydoc==0.9.1
oauthlib==3.1.0
objgraph==3.4.1
olefile==0.46
onnx==1.6.0
opencv-python==4.2.0.32
openpyxl==3.0.1
opt-einsum==3.2.0
packaging==19.2
paddlepaddle-gpu==1.7.1.post107
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
partd==1.1.0
path.py==12.0.2
pathlib2==2.3.5
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.14.0
psutil==5.6.5
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.4
pyodbc==4.0.27
pyOpenSSL==19.1.0
pyparsing==2.4.5
pyrsistent==0.15.6
PySocks==1.7.1
pytest==5.3.0
pytest-arraydiff==0.3
pytest-astropy==0.6.0
pytest-astropy-header==0.1.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
pytrec-eval==0.4
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
rarfile==3.1
regex==2019.8.19
requests==2.22.0
requests-oauthlib==1.3.0
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
sacremoses==0.0.41
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
sentencepiece==0.1.85
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==2.2.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.11
sqlparse==0.3.0
statsmodels==0.10.1
sympy==1.4
tables==3.6.1
tblib==1.5.0
tensorboard==2.2.0
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==2.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tokenizers==0.5.2
toolz==0.10.0
torch==1.1.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.3.0
tornado==6.0.3
tqdm==4.39.0
traitlets==4.3.3
transformers==2.8.0
unicodecsv==0.14.1
urllib3==1.24.2
virtualenv==16.7.8
visdom==0.1.8.9
vobject==0.9.6.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.0
x2paddle==0.7.1
xlrd==1.2.0
XlsxWriter==1.2.6
xlwt==1.3.0
zict==1.0.0
zipp==0.6.0
